html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.login {
  border: 1px solid black;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: black 5px;
  background-color: white;

}
.login .login-forgotPassword {
  text-align: end;
  color: gray;
}
.login .login-logo{
    text-align: center;
}
